@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
    font-family: "ABeeZee", sans-serif !important;
}

:root {
    --theme: #134e5e;
    --opacity-theme: rgba(19, 78, 94, 0.2);
    --dark-theme: #71b280;
    --black-1: #0001;
    --black-2: #0002;
    --theme-fade: rgba(19, 78, 94, 0.3);
    --grey-500: #ccc;
}

.scrollable {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px !important;
        height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bs-border-color);
        height: 5px !important;
    }
}

$iteration: 2560;
$base-value: 1px;
@for $i from 1 through $iteration {
    .width-#{$i} { width: $base-value * $i !important; }
    .height-#{$i} { height: $base-value * $i !important; }
    .height-calc-#{$i} { height: calc(100vh - $base-value * $i) !important; }
    .min-width-#{$i} { min-width: $base-value * $i !important }
}

.line-height-2 {
    line-height: 2;
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown {
    .dropdown-menu {
        border-radius: 10px !important;
        padding: 10px !important;
        .dropdown-item {
            border-radius: 10px !important;
            font-size: 14px !important;
            padding: 10px 20px !important;
            transition: 0.3s all ease-in-out !important;

            &:hover, &.router-link-active {
                border-radius: 10px !important;
                transition: 0.3s all ease-in-out !important;
                background-color: var(--theme) !important;
                color: var(--bs-white) !important;
            }
        }
    }
}

.pagination {

    .disabled {
        background-color: transparent !important;
    }

    .page-item {
        transition: 0.3s all ease-in-out;

        &.active .page-link {
            transition: 0.3s all ease-in-out !important;
            background-color: var(--theme) !important;
            border: 1px solid transparent !important;
            color: var(--bs-white) !important;
        }

        .page-link {
            width: 30px;
            height: 30px;
            display: flex;
            padding: 0 !important;
            justify-content: center;
            align-items: center;
            color: var(--theme) !important;
            border: 1px solid transparent !important;
            margin: 0 2px;
            font-size: 13px !important;
            border-radius: 5px !important;
            box-shadow: 0 0 0 0 !important;

            &:hover, &:active, &:focus {
                transition: 0.3s all ease-in-out !important;
                background-color: var(--theme) !important;
                border: 1px solid transparent !important;
                color: var(--bs-white) !important;
            }

        }

    }

}
