.text-theme {
    color: var(--theme) !important;
}

.text-footer {
    transition: 0.3s all ease-in-out !important;
    &:hover {
        transition: 0.3s all ease-in-out !important;
        padding-left: 30px !important;
        color: var(--theme) !important;
    }
}

.text-theme-secondary {
    color: var(--dark-theme) !important;
}

.text-secondary-theme {
    color: var(--bs-secondary) !important;
    transition: 0.3s all ease-in-out !important;

    &:hover {
        color: var(--theme) !important;
        transition: 0.3s all ease-in-out !important;
    }

}

.text-gradient {
    background: -webkit-linear-gradient(#134e5e 35%, #71b280 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
