.btn-theme {
    border: 1px solid var(--theme) !important;
    background-color: var(--theme) !important;
    color: var(--bs-white) !important;
    transition: 0.3s all ease-in-out !important;
    &:hover {
        border: 1px solid var(--dark-theme) !important;
        background-color: var(--dark-theme) !important;
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out !important;
    }
}

.btn-outline-theme {
    border: 1px solid var(--theme) !important;
    background-color: transparent !important;
    color: var(--theme) !important;
    transition: 0.3s all ease-in-out !important;
    &:hover {
        border: 1px solid var(--dark-theme) !important;
        background-color: var(--dark-theme) !important;
        color: var(--bs-white) !important;
        transition: 0.3s all ease-in-out !important;
    }
}

.btn-action {
    transition: 0.3s all ease-in-out !important;

    &:hover {
        transition: 0.3s all ease-in-out !important;
        background-color: var(--bs-white) !important;

        &.text-secondary {
            box-shadow: 0 0 8px 0 var(--bs-secondary) inset !important;
        }

        &.text-danger {
            box-shadow: 0 0 8px 0 var(--bs-danger) inset !important;
        }

    }
}
